body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 500px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 60px;
    padding-right: 100px;

}

h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;

}

button {
    background-color: darkgray;
    padding: 15px;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 30px;
    -webkit-box-shadow: 0px 5px 5px black;
    -moz-box-shadow: 0px 5px 5px black;
    box-shadow: 0px 5px 5px black;
    text-shadow: 0px 5px 15px black;
    margin: 10px auto;
    text-align: center;
}

#categories {
    margin: 50px auto 0 auto;
    width: 1000px;
    font-size: 30px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 60px;
    padding-right: 100px;
}

#comments {
    margin-bottom: 60px;
    font-size: 25px;
    margin: 0 auto;
    width: 900px;
    background-color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 60px;
    padding-top: 20px;
}
